@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body,
:where(body :not(dialog, path, circle)) {
	all: unset;
	user-select: none;
}

:where(dialog) {
	border: unset;
}

body {
	max-height: 100vh;
	overflow-y: hidden;
	font-size: 24px;
	line-height: 24px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: 'Roboto', 'Comfortaa', cursive;
	user-select: none;
	color: hsla(0, 0%, 25%, 1.0);
	color: #1C1B1F;
	color: #323232;
}
